.slider{
  background: white;
  position: relative;
}
.slide{
  position: absolute;
  top: 0;
  left: 0;
}
.state{
  z-index: 3;
  width: 20%;
  position: absolute;
  bottom: 10px;
  left: 40%;
  background: rgb(240, 252, 243);
  padding: 10px;
}
.dot-active{
  color: rgb(32, 228, 44);
}
